### IDE ###
.idea/
*.iml
*.ipr
*.iws

### Environment ###
.env
!.env.example

### Build ###
target/
out/
*.log

### Maven ###
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

### Eclipse ###
.project
.classpath
.settings/

### OS files ###
.DS_Store
Thumbs.db
